#user-div{
    padding-bottom: 0px !important;
    margin-bottom: 0px;
}
#heading-div{
    margin-top: 5px;
    padding-top: 0px !important;
}
.row{
    margin-bottom: 0px;
}
#salir{
    margin-top: 10px !important;
    padding-top: 10px !important;
}